html {
    height: 100%;
}

* {
    transition: 0.25s;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.30s;
}

.main {
    max-width: 1000px;
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.main h1 {
    text-align: center;
}

div.container-fluid {
    max-width: 90% !important;
}

form#searchbar {
    flex-wrap: nowrap;
}

.footer {
    border-radius: 5px 5px 0 0;
    padding: 1em;
    background-color: #3e3e3e;
    color: #fff;
}